<a href="https://colab.research.google.com/github/woohyukjang/Python_whj/blob/main/submission/woohyukjang/ch01_01_%EA%B8%B0%EB%B3%B8_%EB%AC%B8%EB%B2%95%EA%B3%BC_%EC%88%AB%EC%9E%90_%EA%B3%84%EC%82%B0_%EA%B3%B5%EC%9C%A0%EC%9A%A9_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8_0227.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 환경 확인
* `!`를 통해 리눅스 명령어 호출 가능

In [1]:
# 파이썬 버전 확인
!python --version #커널, 터미널 실행

Python 3.8.10

In [2]:
# PIP 버전 확인
!pip --version

pip 22.0.4 from /usr/local/lib/python3.8/dist-packages/pip (python 3.8)

In [3]:
# 리눅스 커널 & 버전 확인
!cat /etc/issue

Ubuntu 20.04.5 LTS \n \l

# Hello World!

In [4]:
# Hello, world! 를 출력
print("hello woohyuk")

hello woohyuk

* ' '(작은따옴표)로 묶은 부분 = 문자열
* `print`는 값을 화면에 출력

* `print`처럼 단어 뒤에 ( )(괄호)가 붙은 것 = 함수(function) : 정해진 일을 수행하는 단위
* 함수는 `print('Hello, world!')`와 같이 함수 이름 `print`를 써주고, 괄호 안에 출력할 내용을 넣으면 함수가 실행
* 함수 실행을 다른 말로는 함수를 호출(call)한다고 말하기도 함

# 기본 문법

## 세미콜론 (;)
* 많은 프로그래밍 언어들은 구문이 끝날 때 ;(세미콜론)을 붙여야 함 (JAVA, C...)
* 하지만 파이썬은 세미콜론을 붙이지 않음

In [7]:
print("😂Hello, world!")

😂Hello, world!

* 단, 세미콜론을 붙여도 문법 에러는 발생하지 않음
* 보통 한 줄에 여러 구문을 사용할 때 세미콜론으로 구분

In [8]:
print("Hello"); print(1234)

Hello
1234

## 주석
* 파이썬에서 사람만 알아볼 수 있도록 작성하는 부분을 *주석(comment)*라고 함
* 즉, 주석은 파이썬 인터프리터(실행기)가 처리하지 않으므로 프로그램의 실행에는 영향을 주지 않음
* 보통 주석은 코드에 대한 자세한 설명을 작성하거나, 특정 코드를 임시로 사용하지 않도록 만들 때 사용
* 주석은 **한 줄 주석**과 **블록 주석** 두 가지가 있음

### 한 줄 주석

In [11]:
# Hello, world! 출력
print('Hello, world!') #전체 지정(ctrl+A)  /  해당 줄을 주석처리( ctrl+/)

Hello, world!

* 코드 맨 앞에 #을 사용하면 해당 줄은 모두 주석이 됨
* 따라서 다음 `print` 함수는 동작하지 않음

In [19]:
a=1+2 # 더하기
print("hello, world")

hello, world

* 코드 뒤에 #으로 주석을 작성할 수도 있음
* 이때는 앞에 있는 코드만 정상적으로 동작하며 # 뒤에 있는 코드는 동작하지 않음

* Colab에서의 주석 단축키 : `Ctrl + /`

### 블록 주석

In [20]:
# 작은따옴표 X 3
'''
print('Hello, world!')
'''
# 큰따옴표 X
"""
print('awdawd')
"""

"\nprint('awdawd')\n"

## 들여쓰기
* 들여쓰기는 코드를 읽기 쉽도록 일정한 간격을 띄워서 작성하는 방법, 특히 파이썬은 들여쓰기 자체가 문법
* 예를 들어 if의 다음 줄은 항상 들여쓰기를 해야 함
* 만약 들여쓰기를 하지 않으면 문법 에러이므로 코드가 실행되지 않음

In [21]:
if a==10:
  print("10 입니다")

* 파이썬에서 들여쓰기 방법은 공백(스페이스) 2칸, 4칸, 탭(tab) 등 여러 가지 방법이 있음

## 코드 블록
* 코드 블록은 특정한 동작을 위해서 코드가 모여 있는 상태를 뜻하며 파이썬은 들여쓰기를 기준으로 코드 블록을 구성

In [22]:
if a != 10:
  print('10이 아님')
  print('아니라니까')

10이 아님
아니라니까

* 단, 같은 블록은 들여쓰기 칸 수가 같아야 함

In [23]:
if a != 10:
  print('10이')
  print('아님')

10이
아님

# 숫자 계산
* 파이썬에서는 숫자의 자료형에 따라 결과가 달라질 수 있음
* 파이썬에서는 숫자를 정수(int), 실수(float), 복소수(complex)로 구분
* 보통 프로그래밍에서는 정수와 실수를 주로 사용

## 정수 계산

### 사칙연산

In [24]:
# 덧셈
1+1

2

In [25]:
# 뺄셈
1-2

-1

In [26]:
# 곱셈
1*4

4

In [29]:
# 나눗셈
5/2 #결과값=실수

2.5

In [33]:
# 실수인 것을 어떻게 알까?
#자료형 -> (type...)
2*2, type(2*2), 6/2, type(6/2)

(4, int, 3.0, float)

### 몫 (`//`) 연산자
* 정수끼리 나눗셈 결과가 정수로 나오도록 해야할 때 //로 나눗셈을 하면 됨
* `//`은 버림 나눗셈(floor division)이라고 부르며 나눗셈의 결과에서 소수점 이하는 버림

In [36]:
5 // 2 , type(5//2)

(2, int)

In [37]:
#블록 실행 후 하단에 새로운 블록 만들기:alt+ enter
4/2, 4//2

(2.0, 2)

* 참고로 실수에 // 연산자를 사용하면 결과는 실수가 나오며 소수점 이하는 버림.
* 따라서 (연산자 앞뒤 숫자 중 하나라도 실수라면) 결과는 항상 `.0`으로 끝남

In [40]:
5.5//2, 4//2.0, 4.1//2.1

(2.0, 2.0, 1.0)

### 나머지 (`%`) 연산자

In [41]:
# 모듈로(modulo) 연산자
5%2

1

### 거듭제곱 (`**`) 연산자

In [42]:
2**10

1024

### 값을 정수로 만들기
* 계산 결과가 실수로 나왔을 때 강제로 정수로 만들어야 할 때는 int에 괄호를 붙이고 숫자 또는 계산식을 넣으면 됨
* 특히 int에 문자열을 넣어도 정수로 만들 수 있음. 단, 정수로 된 문자열이라야 함

```
int(숫자)
int(계산식)
int('문자열')
```

In [49]:
# int는 정수(integer)를 뜻하며 값을 정수로 만들어 줌 (소수점 이하는 버림)
int(3.3), int(5/2), int("10")

(3, 2, 10)

### 몫과 나머지 함께 구하기

In [50]:
divmod(5,2) #5를 2로 나눴을 때의 몫과 나머지

(2, 1)

## 실수 계산

### 실수끼리의 계산

In [51]:
# 실수끼리의 덧셈
3.5+2.1 # 둘중의 하나가 실수라면 실수처리리

5.6

In [55]:
# 실수끼리의 뺄셈
#4.3-2.7 #부동소수점 오차 발생
2.7-1.5

1.2000000000000002

In [56]:
# 실수끼리의 곱셈
1.5*3.1

4.65

In [58]:
# 실수끼리의 나눗셈
5.5/3.1

1.7741935483870968

### 실수와 정수 간의 계산
* 실수와 정수를 함께 계산하면 표현 범위가 넓은 실수로 계산됨 (실수가 정수보다 표현 범위가 넓음)

In [61]:
4.2+5, 5+4.2

(9.2, 9.2)

### 값을 실수로 만들기
* `float`에 괄호를 붙이고 숫자 또는 계산식을 넣으면 됨
* 특히 `float`에 문자열을 넣어도 실수로 만들 수 있음
* 단, 실수 또는 정수로 된 문자열이라야 함
```
float(숫자)
float(계산식)
float('문자열')
```

In [63]:
float(5), float(1+2), float('5.3'),

(5.0, 3.0, 5.3)

* `float`는 부동소수점(**float**ing point)에서 따왔으며 값을 실수로 만들어줌
* 즉, 실수는 `float` 자료형

float

## 괄호 사용하기

In [64]:
35+1*2 # 연산자는 */ 우선

37

* 만약 곱셈보다 덧셈을 먼저 계산하고 싶다면 덧셈 부분을 괄호로 묶어주면 됨

In [65]:
(35+1)*2

72