<a href="https://colab.research.google.com/github/hiid0726/Python_lym/blob/main/hiid0726/Python_lym/submission/hiid0726/ch01_01_%EA%B8%B0%EB%B3%B8_%EB%AC%B8%EB%B2%95%EA%B3%BC_%EC%88%AB%EC%9E%90_%EA%B3%84%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 환경 확인
* `!`를 통해 리눅스 명령어 호출 가능

In [1]:
# 파이썬 버전 확인
# ! 로 시작하면 커널, 터미널에서 실행한다는 의미
!python --version

Python 3.8.10

In [2]:
# PIP 버전 확인
!pip --version

pip 22.0.4 from /usr/local/lib/python3.8/dist-packages/pip (python 3.8)

In [3]:
# 리눅스 커널 & 버전 확인
!cat /etc/issue

Ubuntu 20.04.5 LTS \n \l

# Hello World!

In [5]:
# Hello, world! 를 출력
print("Hello, world!^^")

Hello, world!^^

* ' '(작은따옴표)로 묶은 부분 = 문자열
* `print`는 값을 화면에 출력

* `print`처럼 단어 뒤에 ( )(괄호)가 붙은 것 = 함수(function) : 정해진 일을 수행하는 단위
* 함수는 `print('Hello, world!')`와 같이 함수 이름 `print`를 써주고, 괄호 안에 출력할 내용을 넣으면 함수가 실행
* 함수 실행을 다른 말로는 함수를 호출(call)한다고 말하기도 함

# 기본 문법

## 세미콜론 (;)
* 많은 프로그래밍 언어들은 구문이 끝날 때 ;(세미콜론)을 붙여야 함 (JAVA, C...)
* 하지만 파이썬은 세미콜론을 붙이지 않음

In [9]:
print("고양이가 귀엽네요 ^0^");
print("고양이가 귀엽네요 ^0^")
#아래로 복사 단축키 = alt + shift + 방향키(아래) or (위)

고양이가 귀엽네요 ^0^
고양이가 귀엽네요 ^0^

* 단, 세미콜론을 붙여도 문법 에러는 발생하지 않음
* 보통 한 줄에 여러 구문을 사용할 때 세미콜론으로 구분

In [10]:
print("Hello"); print("^^")
# shift + home or end  = 앞 or 뒤 로 블록 지정

Hello
^^

## 주석
* 파이썬에서 사람만 알아볼 수 있도록 작성하는 부분을 *주석(comment)*라고 함
* 즉, 주석은 파이썬 인터프리터(실행기)가 처리하지 않으므로 프로그램의 실행에는 영향을 주지 않음
* 보통 주석은 코드에 대한 자세한 설명을 작성하거나, 특정 코드를 임시로 사용하지 않도록 만들 때 사용
* 주석은 **한 줄 주석**과 **블록 주석** 두 가지가 있음

### 한 줄 주석

In [11]:
# Hello, world! 출력
print("Hello, world!")

Hello, world!

* 코드 맨 앞에 #을 사용하면 해당 줄은 모두 주석이 됨
* 따라서 다음 `print` 함수는 동작하지 않음

In [12]:
# Hello, world! 출력
#print("Hello, world!")

* 코드 뒤에 #으로 주석을 작성할 수도 있음
* 이때는 앞에 있는 코드만 정상적으로 동작하며 # 뒤에 있는 코드는 동작하지 않음

In [6]:
# Hello, world! 출력
print("Hello, world!")
# ctrl + / = 해당 줄 또는 해당 블록(전체 선택 시 전체 반영)의 주석제거, 생성

* Colab에서의 주석 단축키 : `Ctrl + /`

### 블록 주석

In [13]:
# 작은따옴표 --> '''
'''
print("hello world")
'''
# 큰따옴표 --> """
"""
print("hello world")
"""
print("hello!")

hello!

## 들여쓰기
* 들여쓰기는 코드를 읽기 쉽도록 일정한 간격을 띄워서 작성하는 방법, 특히 파이썬은 들여쓰기 자체가 문법
* 예를 들어 if의 다음 줄은 항상 들여쓰기를 해야 함
* 만약 들여쓰기를 하지 않으면 문법 에러이므로 코드가 실행되지 않음

In [15]:
if a == 10: #조건을 만족시킬 때
print("10입니다.") #if 문 이후 들여쓰기 하지 않으면 오류남.

IndentationError: ignored

In [18]:
a = 9;
if a == 10: 
  print("10입니다.")

* 파이썬에서 들여쓰기 방법은 공백(스페이스) 2칸, 4칸, 탭(tab) 등 여러 가지 방법이 있음

## 코드 블록
* 코드 블록은 특정한 동작을 위해서 코드가 모여 있는 상태를 뜻하며 파이썬은 들여쓰기를 기준으로 코드 블록을 구성

In [21]:
#특정한 동작을 위해 묶여있는 코드들에게 해당
if a != 10:
  print("10이 아니다")
  print("이건 묶여있는 코드")
  print("이건 묶여있는 코드2")

10이 아니다
이건 묶여있는 코드
이건 묶여있는 코드2

* 단, 같은 블록은 들여쓰기 칸 수가 같아야 함

In [27]:
#들여쓰기 칸수가 다를 경우 오류남
if a != 10:
  print("10이 아니다")
    print("이건 묶여있는 코드")
    print("이건 묶여있는 코드2")

IndentationError: ignored

In [31]:
#들여쓰기 칸수가 다를 경우 오류남
if a != 10:
  print("10이 아니다")
   print("이건 묶여있는 코드")
  print("이건 묶여있는 코드2")

IndentationError: ignored

# 숫자 계산
* 파이썬에서는 숫자의 자료형에 따라 결과가 달라질 수 있음
* 파이썬에서는 숫자를 정수(int), 실수(float), 복소수(complex)로 구분
* 보통 프로그래밍에서는 정수와 실수를 주로 사용

## 정수 계산

### 사칙연산

In [33]:
# 덧셈
1 + 1 + 1

3

In [34]:
# 뺄셈
1 - 2

-1

In [35]:
# 곱셈
1 * 8

8

In [38]:
# 나눗셈
2 / 5 #결과값 = 실수

0.4

In [39]:
# 실수인 것을 어떻게 알까?
# 자료형 -> type() 함수로 알수있음
2*2, type(2*2), 5/2, type(5/2)

(4, int, 2.5, float)

### 몫 (`//`) 연산자
* 정수끼리 나눗셈 결과가 정수로 나오도록 해야할 때 //로 나눗셈을 하면 됨
* `//`은 버림 나눗셈(floor division)이라고 부르며 나눗셈의 결과에서 소수점 이하는 버림

In [40]:
5 // 2

2

* 참고로 실수에 // 연산자를 사용하면 결과는 실수가 나오며 소수점 이하는 버림.
* 따라서 (연산자 앞뒤 숫자 중 하나라도 실수라면) 결과는 항상 `.0`으로 끝남

In [45]:
# 블록 실행 후 하단에 새로운 블럭 만들기 = alt + enter
4/2, 4//2, 
5.5 // 2, 4 // 2.0 , 4.1 // 2.1

(2.0, 2.0, 1.0)

### 나머지 (`%`) 연산자

In [46]:
# 모듈로(modulo) 연산자
5 % 2

1

### 거듭제곱 (`**`) 연산자

In [47]:
2 ** 10

1024

### 값을 정수로 만들기
* 계산 결과가 실수로 나왔을 때 강제로 정수로 만들어야 할 때는 int에 괄호를 붙이고 숫자 또는 계산식을 넣으면 됨
* 특히 int에 문자열을 넣어도 정수로 만들 수 있음. 단, 정수로 된 문자열이라야 함

```
int(숫자)
int(계산식)
int('문자열')
```

In [52]:
# int는 정수(integer)를 뜻하며 값을 정수로 만들어 줌 (소수점 이하는 버림)
# 3.3 을 3으로 만들기
int(3.3), int(5/2), int('10')

(3, 2, 10)

### 몫과 나머지 함께 구하기

In [54]:
# 5를 2로 나눳을때 몫과 나머지를 한번에 구하기.
# divmod(나눠지는 수, 나누는 수)
divmod(5,2)

(2, 1)

## 실수 계산

### 실수끼리의 계산

In [55]:
# 실수끼리의 덧셈
3.5 + 2.1

5.6

In [58]:
# 실수끼리의 뺄셈
# 4.3 - 2.7 ---> 부동소숫점 오류
2.7 - 1.5

1.2000000000000002

In [62]:
# 실수끼리의 곱셈
1.5 * 3.1

4.65

In [61]:
# 실수끼리의 나눗셈
6.6 / 2.0

3.3

### 실수와 정수 간의 계산
* 실수와 정수를 함께 계산하면 표현 범위가 넓은 실수로 계산됨 (실수가 정수보다 표현 범위가 넓음)

In [64]:
5.2 + 5, 5 + 5.2

(10.2, 10.2)

### 값을 실수로 만들기
* `float`에 괄호를 붙이고 숫자 또는 계산식을 넣으면 됨
* 특히 `float`에 문자열을 넣어도 실수로 만들 수 있음
* 단, 실수 또는 정수로 된 문자열이라야 함
```
float(숫자)
float(계산식)
float('문자열')
```

In [68]:
float(5), float(1+2), float("5.3")

(5.0, 3.0, 5.3)

* `float`는 부동소수점(**float**ing point)에서 따왔으며 값을 실수로 만들어줌
* 즉, 실수는 `float` 자료형

In [69]:
type(5.3)

float

## 괄호 사용하기

In [72]:
35 + 1 * 2

37

* 만약 곱셈보다 덧셈을 먼저 계산하고 싶다면 덧셈 부분을 괄호로 묶어주면 됨

In [71]:
(35 + 1) * 2

72