<a href="https://colab.research.google.com/github/KHB2937/Python/blob/main/submission/KHB2937/ch02_10_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC_%EC%9D%91%EC%9A%A9_%EA%B3%B5%EC%9C%A0%EC%9A%A9_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리 응용

## 딕셔너리 조작하기

### 딕셔너리에서 키의 값 저장하기

update(키=값)은 이름 그대로 딕셔너리에서 키의 값을 수정합니다. 예를 들어 딕셔너리가 x = {'a': 10}이라면 x.update(a=90)과 같이 키에서 작은따옴표 또는 큰따옴표를 빼고 키 이름과 값을 지정합니다.

In [1]:
x = {
    'a': 10, 'b': 20, 'c': 30, 'd': 40
}
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

만약 딕셔너리에 키가 없으면 키-값 쌍을 추가합니다. 딕셔너리 x에는 키 'e'가 없으므로 x.update(e=50)을 실행하면 'e': 50을 추가합니다.

In [2]:
x['a'] = 100
x

{'a': 100, 'b': 20, 'c': 30, 'd': 40}

update는 키-값 쌍 여러 개를 콤마로 구분해서 넣어주면 값을 한꺼번에 수정할 수 있습니다. 이때도 키가 있으면 해당 키의 값을 수정하고 없으면 키-값 쌍을 추가합니다.

In [3]:
x.update(a = 50)
x

{'a': 50, 'b': 20, 'c': 30, 'd': 40}

In [ ]:
x.update(e = 50)
x

update(키=값)은 키가 문자열일 때만 사용할 수 있습니다. 만약 키가 숫자일 경우에는 update(딕셔너리)처럼 딕셔너리를 넣어서 값을 수정할 수 있습니다.

In [9]:
y.update({1: 'one', 2: 'two'})
y

{1: 'one', 2: 'two'}

In [10]:
x.update({1: 'one', 2: 'two'})
x

{'a': 50, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 1: 'one', 2: 'two'}

다른 방법으로는 리스트와 튜플을 이용하는 방법도 있습니다. update(리스트), update(튜플)은 리스트와 튜플로 값을 수정합니다. 여기서 리스트는 [[키1, 값1], [키2, 값2]] 형식으로 키와 값을 리스트로 만들고 이 리스트를 다시 리스트 안에 넣어서 키-값 쌍을 나열해줍니다(튜플도 같은 형식).

In [15]:
y.update([[5, 'five'], [6, 'six'], [3, 'three']])
y

{1: 'one', 2: 'two', 5: 'five', 6: 'six', 3: 'three'}

### 딕셔너리에서 키-값 쌍 삭제하기

pop(키)는 딕셔너리에서 특정 키-값 쌍을 삭제한 뒤 삭제한 값을 반환합니다.

In [16]:
print(x)
x.pop()

{'a': 50, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 1: 'one', 2: 'two'}

TypeError: ignored

In [17]:
x = {
    'a': 10, 'b': 20, 'c': 30, 'd': 40
}
x.pop('a')
x

{'b': 20, 'c': 30, 'd': 40}

pop(키, 기본값)처럼 기본값을 지정하면 딕셔너리에 키가 있을 때는 해당 키-값 쌍을 삭제한 뒤 삭제한 값을 반환하지만 키가 없을 때는 기본값만 반환합니다.

In [19]:
print(x.pop('e', 0))
x

0

{'b': 20, 'c': 30, 'd': 40}

pop 대신 del로 특정 키-값 쌍을 삭제할 수도 있습니다. 이때는 [ ]에 키를 지정하여 del을 사용합니다.

In [20]:
del x['b']
x

{'c': 30, 'd': 40}

### 딕셔너리의 모든 키-값 쌍을 삭제하기

In [21]:
# clear()는 딕셔너리의 모든 키-값 쌍을 삭제합니다.
print(x)
x.clear()
print(x)

{'c': 30, 'd': 40}
{}

### 딕셔너리에서 키의 값을 가져오기

In [22]:
# get(키)는 딕셔너리에서 특정 키의 값을 가져옵니다.
x = {
    'a': 10, 'b': 20, 'c': 30, 'd': 40
}
x['e']

KeyError: ignored

In [24]:
x.get('a')

10

In [27]:
print(x.get('e'))
print(x.get('e', 0))

None
0

get(키, 기본값)처럼 기본값을 지정하면 딕셔너리에 키가 있을 때는 해당 키의 값을 반환하지만 키가 없을 때는 기본값을 반환합니다.

In [28]:
print(x.get('e'))
print(x.get('e', 0))

None
0

### 딕셔너리에서 키-값 쌍을 모두 가져오기

딕셔너리는 키와 값을 가져오는 다양한 메서드를 제공합니다.

* items: 키-값 쌍을 모두 가져옴
* keys: 키를 모두 가져옴
* values: 값을 모두 가져옴

In [29]:
# items()는 딕셔너리의 키-값 쌍을 모두 가져옵니다.
print(x)
x.items()

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [30]:
# keys()는 키를 모두 가져옵니다.
for i in x.items():
  print(i)

('a', 10)
('b', 20)
('c', 30)
('d', 40)

In [32]:
# values()는 값을 모두 가져옵니다.
for l, v in x.items():
  print(x)
  print(v)

('d', 40)
10
('d', 40)
20
('d', 40)
30
('d', 40)
40

## 반복문으로 딕셔너리의 키-값 쌍을 모두 출력하기

a b c d

for i in x:처럼 for 반복문에 딕셔너리를 지정한 뒤에 print로 변수 i를 출력해보면 값은 출력되지 않고 키만 출력됩니다. 그럼 키와 값을 모두 출력하려면 어떻게 해야 할까요?

이때는 for in 뒤에 딕셔너리를 지정하고 items를 사용해야 합니다.

```
for 키, 값 in 딕셔너리.items():
     반복할 코드
```

a 10
b 20
c 30
d 40

`for key, value in x.items():`는 딕셔너리 x에서 키-값 쌍을 꺼내서 키는 key에 값은 value에 저장하고, 꺼낼 때마다 코드를 반복합니다. 따라서 print로 key와 value를 출력하면 키-값 쌍을 모두 출력할 수 있습니다.

### 딕셔너리의 키만 출력하기

a b c d

a b c d

### 딕셔너리의 값만 출력하기

10 20 30 40

## 딕셔너리 안에서 딕셔너리 사용하기

딕셔너리는 값 부분에 다시 딕셔너리가 계속 들어갈 수 있습니다.

* `딕셔너리 = {키1: {키A: 값A}, 키2: {키B: 값B}}`

In [40]:
a = {
    "삼성": {
        "대주주": "이재용",
        "순위": 1,
        "취급품목": {
            "갤럭시": 10000,
            "티비": 20000
          }
      } 
  }
a

{'삼성': {'대주주': '이재용', '순위': 1, '취급품목': {'갤럭시': 10000, '티비': 20000}}}

중첩 딕셔너리는 계층형 데이터를 저장할 때 유용합니다.

딕셔너리 안에 들어있는 딕셔너리에 접근하려면 딕셔너리 뒤에 [ ](대괄호)를 단계만큼 붙이고 키를 지정해주면 됩니다.

* `딕셔너리[키][키]`
* `딕셔너리[키][키] = 값`