<a href="https://colab.research.google.com/github/KHB2937/Python/blob/main/submission/KHB2937/ch02_04_%EC%8B%9C%ED%80%80%EC%8A%A4_%EC%9E%90%EB%A3%8C%ED%98%95_%ED%9D%AC%EB%B2%94_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시퀀스 자료형

우리가 지금까지 사용했던 리스트, 튜플, range, 문자열을 잘 보면 공통점이 있습니다. 이들 모두 값이 연속적(sequence)으로 이어져 있다는 점입니다.

파이썬에서는 리스트, 튜플, range, 문자열처럼 값이 연속적으로 이어진 자료형을 시퀀스 자료형(sequence types)라고 부릅니다.

## 시퀀스 자료형의 공통 기능 사용하기

### 특정 값이 있는지 확인하기

먼저 시퀀스 객체 안에 특정 값이 있는지 확인하는 방법부터 알아보겠습니다. 다음은 리스트 a에서 30과 100이 있는지 확인합니다.

* `값 in 시퀀스객체`

In [1]:
a = [0, 10, 20, 30, 40, 50]
a

[0, 10, 20, 30, 40, 50]

In [2]:
30 in a

True

In [3]:
60 in a

False

시퀀스 객체에 in 연산자를 사용했을 때 특정 값이 있으면 True, 없으면 False가 나옵니다. 따라서 리스트 a에 30이 있으므로 True, 100이 없으므로 False가 나옵니다.

반대로 in 앞에 not을 붙이면 특정 값이 없는지 확인합니다.

* `값 not in 시퀀스객체`

In [4]:
70 not in a

True

In [5]:
50 not in a

False

이렇게 not in은 특정 값이 없으면 True, 있으면 False가 나옵니다.

물론 튜플, range, 문자열도 같은 방법으로 활용할 수 있습니다.

In [7]:
20 in (10, 20, 30, 40 ,50), 60 in (10, 20, 30, 40 ,50), 20 not in (10, 20, 30, 40 ,50)

(True, False, False)

In [13]:
 1 in range(10), 11 in range(10), 12 not in range(10), 11 not in range(10)

(True, False, True, True)

In [9]:
#특정한 문자열 안에 문자가 있는지
"a" in "happy", "s" in "happy", "a" not in "happy", "s" not in "happy"

(True, False, False, True)

### 시퀀스 객체 연결하기

시퀀스 객체는 + 연산자를 사용하여 객체를 서로 연결하여 새 객체를 만들 수 있습니다.

* `시퀀스객체1 + 시퀀스객체2`

In [14]:
A = [0, 1, 2, 3]
b = [4, 5, 6, 7]
a + b

[0, 10, 20, 30, 40, 50, 4, 5, 6, 7]

In [16]:
a = ("a", "b", "c", "d")
b = ("e", "f", "g", "h")
a + b

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

In [23]:
# 0부터 10(끝값은 제외) / 10부터 20직전까지
range(0, 10), range(10, 20)

(range(0, 10), range(10, 20))

In [26]:
range(0, 10) + range(10, 20)

TypeError: ignored

In [24]:
# 이때는 range를 리스트 또는 튜플로 만들어서 연결하면 됩니다.
tuple(range(0,10)) + tuple(range(10, 20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [ ]:
list(range(0,10)) + list(range(10, 20))

In [27]:
# 문자열은 + 연산자로 여러 문자열을 연결할 수 있습니다.
'hello, ' + 'world'

'hello, world'

### 문자열에 숫자 연결하기

In [29]:
'hello, ' + 10

TypeError: ignored

문자열에 정수를 연결하려고 하면 에러가 발생합니다(정수를 문자열로 변환할 수 없어서 TypeError가 발생합니다). 이 문제를 해결하려면 str을 사용하여 숫자(정수, 실수)를 문자열로 변환하면 됩니다.

* `'문자열' + str(정수)`
* `'문자열' + str(실수)`

In [28]:
"hello, " + "10"

'hello, 10'

In [30]:
a = 1.5
'hello, ' + str(a)

'hello, 1.5'

### 시퀀스 객체 반복하기

이번에는 시퀀스 객체를 반복하는 방법입니다. `*` 연산자는 시퀀스 객체를 특정 횟수만큼 반복하여 새 시퀀스 객체를 만듭니다(0 또는 음수를 곱하면 빈 객체가 나오며 실수는 곱할 수 없습니다).

* `시퀀스객체 * 정수`
* `정수 * 시퀀스객체`

In [31]:
# 같은 내용으로 연결(+)을 n번 반복하겠다 (시퀀스) * 정수
[0, 10, 20, 30] * 3

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]

In [37]:
# 앞에서 range는 + 연산자로 객체를 연결할 수 없었죠? 마찬가지로 range는 * 연산자를 사용하여 반복할 수 없습니다.
3 * range(0, 5, 2)

TypeError: ignored

In [ ]:
# 이때는 range를 리스트 또는 튜플로 만들어서 반복하면 됩니다.
3 * list(range(0, 5, 2))

[0, 2, 4, 0, 2, 4, 0, 2, 4]

In [35]:
3 * tuple(range(0, 5, 2))

(0, 2, 4, 0, 2, 4, 0, 2, 4)

In [36]:
# 문자열은 * 연산자를 사용하여 반복할 수 있습니다.
'hello' * 3

'hellohellohello'

## 시퀀스 객체의 요소 개수 구하기

시퀀스 객체에는 요소가 여러 개 들어있죠? 이 요소의 개수(길이)를 구할 때는 len 함수를 사용합니다(len은 길이를 뜻하는 length에서 따왔습니다).

* `len(시퀀스객체)`

### 리스트와 튜플의 요소 개수 구하기

In [38]:
a = [5, 8, 13, 21, 34]
len(a) # a(리스트, 시퀀스) 안에 5개의 요소가 들어가 있다.

5

In [39]:
b = ("a", 1, True, 1.5)
len(b)

4

### range의 숫자 생성 개수 구하기

In [42]:
# range에 len 함수를 사용하면 숫자가 생성되는 개수를 구합니다.
len(range(0, 20, 3))

7

### 문자열의 길이 구하기

In [44]:
# 문자열도 시퀀스 자료형이므로 len 함수를 사용하면 됩니다.
s = "o m g"
len(s)

5

여기서 문자열의 길이는 공백까지 포함합니다. 단, 문자열을 묶은 따옴표는 제외합니다. 이 따옴표는 문자열을 표현하는 문법일 뿐 문자열 길이에는 포함되지 않습니다(문자열 안에 포함된 작은따옴표, 큰따옴표는 포함됨).

In [45]:
# 한글 문자열의 길이도 len으로 구하면 됩니다.
r = "오엠지"
len(r)

3

인덱스 사용하기

이번에는 시퀀스 객체에 들어있는 요소에 접근하는 방법을 알아보겠습니다. 시퀀스 객체의 각 요소는 순서가 정해져 있으며, 이 순서를 인덱스라고 부릅니다.

다음과 같이 시퀀스 객체에 `[ ](대괄호)`를 붙이고 [ ] 안에 각 요소의 인덱스를 지정하면 해당 요소에 접근할 수 있습니다.

In [80]:
a = [1, 2, 3, 4]
a[2]

3

In [ ]:
a = [1, 2, 3, 4]
a[2]

53

In [ ]:
a = [1, 2, 3, 4]
a[2]

19

인덱스(index, 색인)는 위치 값을 뜻하는데 국어사전 옆면에 ㄱ, ㄴ, ㄷ으로 표시해 놓은 것과 비슷합니다. 여기서 주의할 점은 시퀀스 객체의 인덱스는 항상 0부터 시작한다는 점입니다(대다수의 프로그래밍 언어는 인덱스가 0부터 시작합니다). 따라서 리스트 a의 첫 번째 요소는 a[0]이 됩니다. 꼭 기억해두세요.

튜플, range, 문자열도 [ ]에 인덱스를 지정하면 해당 요소를 가져올 수 있습니다.

In [46]:
# 튜플 b의 첫 번째(인덱스 0) 요소를 출력합니다.
b = (5, 13, 21, 34, 55)
b[0]

5

range도 인덱스로 접근할 수 있습니다.

In [47]:
# range의 세 번째(인덱스 2) 요소를 출력합니다.
r = range(2, 5)
r[2]

4

문자열은 요소가 문자이므로 인덱스로 접근하면 문자가 나옵니다.

In [48]:
# 문자열 hello의 여덟 번째 요소를 출력합니다.
s = 'hello world'
s[7]

'o'

### 시퀀스 객체에 인덱스를 지정하지 않으면?

시퀀스 객체에 인덱스를 지정하지 않은 상태는 해당 객체 전체를 뜻합니다. 따라서 다음과 같이 리스트 a를 출력하면 [ ]를 포함하여 리스트 전체가 출력됩니다.

In [49]:
a = [38, 21, 53, 62, 19]
a #인덱스를 지정해주지 않으면 전체가 출력

[38, 21, 53, 62, 19]

### 음수 인덱스 지정하기

지금까지 시퀀스 객체에 인덱스를 양수만 지정했습니다. 그러면 인덱스를 음수로 지정하면 어떻게 될까요?

In [53]:
a = [38, 21, 53, 62, 19]
a[-1]

19

In [54]:
a[-5]

38

튜플, range, 문자열도 음수 인덱스를 지정하면 뒤에서부터 요소에 접근합니다.

In [55]:
b = tuple(a)
b

(38, 21, 53, 62, 19)

In [57]:
b[-1], b[-5]

(19, 38)

In [58]:
r = range(0, 10, 2)
r, list(r), r[-3]

(range(0, 10, 2), [0, 2, 4, 6, 8], 4)

### 인덱스의 범위를 벗어나면?

시퀀스 객체를 만들면 요소의 개수는 정해져 있죠? 다음과 같이 리스트를 만든 뒤 범위를 벗어난 인덱스에 접근하면 어떻게 될까요?

In [59]:
len(a)

5

리스트 a의 요소 개수는 5개인데 a[5]와 같이 지정하면 리스트의 범위를 벗어나게 되므로 에러가 발생합니다. 왜냐하면 인덱스는 0부터 시작하므로 마지막 요소의 인덱스는 4이기 때문이죠. 즉, 마지막 요소의 인덱스는 시퀀스 객체의 요소 개수보다 1 작습니다. 이 부분은 시퀀스 객체를 사용할 때 자주 틀리는 부분이므로 꼭 기억해두세요.

마찬가지로 튜플, range, 문자열도 범위를 벗어난 인덱스를 지정하면 IndexError가 발생합니다.

### 마지막 요소에 접근하기

앞에서 시퀀스 객체에 인덱스를 -1로 지정하면 뒤에서 첫 번째 요소에 접근한다고 했죠? 바로 시퀀스 객체의 마지막 요소입니다.

그러면 시퀀스 객체의 마지막 요소에 접근하는 다른 방법은 없을까요? 다음과 같이 len 함수로 리스트의 길이를 구한 뒤 이 길이를 인덱스로 지정해보면 에러가 발생합니다.

In [60]:
a, len(a)

([38, 21, 53, 62, 19], 5)

In [61]:
a[len(a)]

IndexError: ignored

리스트 a의 인덱스는 0부터 4까지이므로 인덱스에 a의 길이 5를 지정하면 인덱스의 범위를 벗어나게 됩니다. 따라서 5가 아닌 4를 지정해야 마지막 문자가 나옵니다.

In [71]:
a[len(a) -1], a[-1]

(19, 19)

In [68]:
# len(a)는 5이므로 인덱스가 범위를 벗어납니다. 이때는 len(a)에서 1을 빼주어야 인덱스가 범위를 벗어나지 않습니다.
a[4]

SyntaxError: ignored

### 요소에 값 할당하기

이제 시퀀스 객체의 요소에 값을 할당하는 방법을 알아보겠습니다. 시퀀스 객체는 [ ]로 요소에 접근한 뒤 =로 값을 할당합니다.

* `시퀀스객체[인덱스] = 값`

In [73]:
a =[0] * 5
print(a)
a[0] = 5
a[1] = 5
a[2] = 5
a[3] = 5
a[4] = 5
a

[0, 0, 0, 0, 0]

[5, 5, 5, 5, 5]

In [74]:
a[5] = 55

IndexError: ignored

In [77]:
# 튜플의 [ ]에 인덱스를 지정한 뒤 값을 할당하면 에러가 발생합니다.
t = tuple(a)
print(t)
t[3] = 99

(5, 5, 5, 5, 5)

TypeError: ignored

In [78]:
# range와 문자열도 안에 저장된 요소를 변경할 수 없습니다.
r = range(0, 10)
r[0] = 3

TypeError: ignored

In [79]:
s = "today"
s[0]

't'

### del로 요소 삭제하기

이번에는 del로 시퀀스 객체의 요소를 삭제해보겠습니다. 요소 삭제는 다음과 같이 del 뒤에 삭제할 요소를 지정해주면 됩니다.

* `del 시퀀스객체[인덱스]`

In [81]:
# 리스트를 만들고 세 번째 요소(인덱스 2)를 삭제해보겠습니다.
print(a)
del a[2] #세번째
a

[1, 2, 3, 4]

[1, 2, 4]

In [82]:
# 리스트와는 달리 튜플은 요소를 삭제할 수 없습니다.
print(b)

(38, 21, 53, 62, 19)

In [83]:
# range와 문자열도 안에 저장된 요소를 삭제할 수 없습니다.
del b[2]

TypeError: ignored

## 슬라이스 사용하기

시퀀스 자료형은 슬라이스라는 기능을 자주 사용합니다. 슬라이스(slice)는 무엇인가의 일부를 잘라낸다는 뜻인데, 시퀀스 슬라이스도 말 그대로 시퀀스 객체의 일부를 잘라냅니다.

* `시퀀스객체[시작인덱스:끝인덱스]`

In [85]:
a = list(range(0, 100, 10))
a, a[0:4]

([0, 10, 20, 30, 40, 50, 60, 70, 80, 90], [0, 10, 20, 30])

[ ] 안에 시작 인덱스와 끝 인덱스를 지정하면 해당 범위의 리스트를 잘라서 가져올 수 있습니다. 여기서 주의할 점이 있는데, 끝 인덱스는 가져오려는 범위에 포함되지 않습니다. 따라서 끝 인덱스는 실제로 가져오려는 인덱스보다 1을 더 크게 지정해야 합니다. (끝 인덱스는 범위를 벗어난 인덱스를 지정할 수 있습니다).

In [86]:
a[0:10] # 범위가 벗어난 인덱스도 가능

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [87]:
a[0:1]

[0]

In [94]:
a[-1:], a[:-1]

([90], [0, 10, 20, 30, 40, 50, 60, 70, 80])

슬라이스를 했을 때 실제로 가져오는 요소는 시작 인덱스부터 끝 인덱스 - 1까지입니다.

### 리스트의 중간 부분 가져오기

그럼 리스트의 중간 부분을 가져오는 방법을 자세히 알아보겠습니다.

In [89]:
print(a)
a[4:9]# 4부터 8까지의 인덱스 (5번째-9번째) 5개의 원소를 가지도록 슬라이싱 + 끝점 미포함(+1)
#TDD, #TDD, MSA+Clean Architecture, Agile

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[40, 50, 60, 70, 80]

In [ ]:
# 특히 슬라이스는 a[4:-1]과 같이 음수를 인덱스로 지정할 수도 있습니다.
a[4:-1]

[40, 50, 60, 70, 80]

인덱스에서 -1은 뒤에서 첫 번째 요소를 뜻한다고 했죠? 끝 인덱스는 가져오려는 인덱스보다 1을 더 크게 지정한다고 했으므로 실제로는 뒤에서 두 번째(인덱스 -2) 요소인 80까지만 가져옵니다(음수는 숫자가 작을 수록 큰 수입니다. 그래서 -1은 -2보다 1이 더 큽니다).

### 인덱스 증가폭 사용하기

금까지 지정된 범위의 요소를 모두 가져왔죠? 슬라이스는 인덱스의 증가폭을 지정하여 범위 내에서 인덱스를 건너뛰며 요소를 가져올 수 있습니다.

다음은 인덱스를 3씩 증가시키면서 요소를 가져옵니다. 여기서 주의할 점은 인덱스의 증가폭이지 요소의 값 증가폭이 아니라는 점입니다.

* `시퀀스객체[시작인덱스:끝인덱스:인덱스증가폭]`

In [96]:
a, a[2:8:3]

([0, 10, 20, 30, 40, 50, 60, 70, 80, 90], [20, 50])

a[2:8:3]을 실행하니 [20, 50]이 나왔죠? 왜 이런 결과가 나왔을까요? 먼저 시작 인덱스가 2이므로 20부터 가져옵니다. 그리고 인덱스 증가폭을 3으로 지정했으므로 인덱스 5의 50, 인덱스 8의 80을 가져올 수 있습니다. 하지만, 끝 인덱스를 8로 지정했으므로 인덱스 7까지만 가져옵니다. 따라서 20과 50만 가져와서 [20, 50]이 나옵니다.

인덱스 증가폭을 지정하더라도 가져오려는 인덱스(끝 인덱스 - 1)를 넘어설 수 없다는 점을 꼭 기억해두세요.

만약 끝 인덱스 - 1과 증가한 인덱스가 일치한다면 해당 요소까지 가져올 수 있습니다. 다음은 끝 인덱스를 9로 지정하여 인덱스 8의 80까지 가져옵니다. 따라서 [20, 50, 80]이 나옵니다.

In [97]:
a[2:9:3]

[20, 50, 80]

### 인덱스 생략하기

슬라이스를 사용할 때 시작 인덱스와 끝 인덱스를 생략할 수도 있습니다. 인덱스를 생략하는 방법은 시퀀스 객체의 길이를 몰라도 되기 때문에 자주 쓰이는 방식입니다. 주로 시퀀스 객체의 마지막 일부분만 출력할 때 사용합니다.

리스트 a에서 a[:7]과 같이 시작 인덱스를 생략하면 리스트의 처음부터 끝 인덱스 - 1(인덱스 6)까지 가져옵니다.

* `시퀀스객체[:끝인덱스]`

In [98]:
a, a[0:7], a[:7]

([0, 10, 20, 30, 40, 50, 60, 70, 80, 90], [0, 10, 20, 30, 40, 50, 60], 70)

그리고 a[7:]과 같이 끝 인덱스를 생략하면 시작 인덱스(인덱스 7)부터 마지막 요소까지 가져옵니다.

* `시퀀스객체[시작인덱스:]`

In [99]:
a, a[7:], a[7:len(a)]

([0, 10, 20, 30, 40, 50, 60, 70, 80, 90], [70, 80, 90], [70, 80, 90])

또는, a[:]와 같이 시작 인덱스와 끝 인덱스를 둘다 생략하면 리스트 전체를 가져옵니다.

* `시퀀스객체[:]`

In [100]:
a[:]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### 인덱스를 생략하면서 증가폭 사용하기

여기서 시작 인덱스 또는 끝 인덱스를 생략하면서 인덱스 증가폭을 지정하면 어떻게 될까요?

리스트 a에서 a[:7:2]와 같이 시작 인덱스를 생략하면서 인덱스 증가폭을 2로 지정하면 리스트의 처음부터 인덱스를 2씩 증가시키면서 끝 인덱스 - 1(인덱스 6)까지 요소를 가져옵니다.

* `시퀀스객체[:끝인덱스:증가폭]`

In [101]:
a[:7:2]

[0, 20, 40, 60]

그리고 a[7::2]와 같이 끝 인덱스를 생략하면서 인덱스 증가폭을 2로 지정하면 시작 인덱스(인덱스 7)부터 인덱스를 2씩 증가시키면서 리스트의 마지막 요소까지 가져옵니다.

* `시퀀스객체[시작인덱스::증가폭]`

In [102]:
a[7::2]

[70, 90]

또는, a[::2]와 같이 시작 인덱스와 끝 인덱스를 둘다 생략하면서 인덱스 증가폭을 2로 지정하면 리스트 전체에서 인덱스 0부터 2씩 증가하면서 요소를 가져옵니다.

* `시퀀스객체[::증가폭]`

In [104]:
a[::2], a[0:len(a):2]

([0, 20, 40, 60, 80], [0, 20, 40, 60, 80])

a[:7:2]와 a[7::2]는 2씩 증가한 인덱스와 끝 인덱스 - 1이 일치하여 지정된 범위에 맞게 요소를 가져왔습니다. 하지만, a[::2]는 끝 인덱스가 9이므로 인덱스가 2씩 증가하더라도 8까지만 증가할 수 있습니다. 따라서 인덱스 0, 2, 4, 6, 8의 요소를 가져옵니다.

만약 시작 인덱스, 끝 인덱스, 인덱스 증가폭을 모두 생략하면 어떻게 될까요?

* `시퀀스객체[::]`

In [105]:
a[::]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### 슬라이스의 인덱스 증가폭을 음수로 지정하면?

슬라이스를 사용할 때 인덱스 증가폭을 음수로 지정하면 요소를 뒤에서부터 가져올 수 있습니다. 다음은 리스트 a에서 인덱스 5부터 2까지 1씩 감소시키면서 요소를 가져옵니다.

In [106]:
a[5:2:-1]

[50, 40, 30]

여기서 주의할 점은 인덱스가 감소하므로 끝 인덱스보다 시작 인덱스를 더 크게 지정해야 한다는 점입니다. 즉, a[5:1:-1]과 같이 시작 인덱스부터 끝 인덱스까지 감소하도록 지정합니다. 그리고 끝 인덱스는 가져오려는 범위에 포함되지 않습니다

특히 다음과 같이 시작 인덱스와 끝 인덱스를 생략하면서 인덱스 증가폭을 -1로 지정하면 어떻게 될까요? 이때는 리스트 전체에서 인덱스를 1씩 감소시키면서 요소를 가져오므로 리스트를 반대로 뒤집습니다.

In [107]:
a[::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

물론 이 방법은 리스트뿐만 아니라 모든 시퀀스 객체에 사용할 수 있습니다.

In [108]:
s1 = 'my name is james'
s1[::-1]

'semaj si eman ym'

### len 응용하기

이번에는 len을 응용하여 리스트 전체를 가져와보겠습니다.

In [111]:
a[:len(a)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

리스트 a의 요소는 10개입니다. 따라서 len(a)는 10이고, a[0:10]과 같습니다. 여기서 끝 인덱스는 가져오려는 인덱스보다 1을 더 크게 지정한다고 했으므로 len(a)에서 1을 빼지 않아야 합니다. 즉, 길이가 10인 리스트는 [0:10]이라야 리스트 전체를 가져옵니다.

### 튜플, range, 문자열에 슬라이스 사용하기

지금까지 리스트에서 슬라이스를 사용해봤습니다. 파이썬에서는 튜플, range, 문자열도 시퀀스 자료형이므로 리스트와 같은 방식으로 슬라이스를 사용할 수 있습니다.

먼저 튜플부터 잘라보겠습니다. 다음은 지정된 범위만큼 튜플을 잘라서 새 튜플을 만듭니다.

* `튜플[시작인덱스:끝인덱스]`
* `튜플[시작인덱스:끝인덱스:인덱스증가폭]`

In [112]:
t = tuple(a)
print(t)
t[4:7]

(0, 10, 20, 30, 40, 50, 60, 70, 80, 90)

(40, 50, 60)

In [113]:
t[4:], t[:7:2]

((40, 50, 60, 70, 80, 90), (0, 20, 40, 60))

In [114]:
t[:7:2]

(0, 20, 40, 60)

range는 연속된 숫자를 생성한다고 했죠? range에 슬라이스를 사용하면 지정된 범위의 숫자를 생성하는 range 객체를 새로 만듭니다.

* `range객체[시작인덱스:끝인덱스]`
* `range객체[시작인덱스:끝인덱스:인덱스증가폭]`

In [115]:
r

range(0, 10)

In [117]:
r[4:7]

range(4, 7)

In [118]:
r2 = range(2, 10 ,3)

In [119]:
r2[1:], r2[:4], r2[::2]

(range(5, 11, 3), range(2, 11, 3), range(2, 11, 6))

range는 리스트, 튜플과는 달리 요소가 모두 표시되지 않고 생성 범위만 표시됩니다. 이렇게 잘라낸 range 객체를 리스트로 만들려면 list에 넣으면 되겠죠?

In [120]:
list(r[:7:2])

[0, 2, 4, 6]

문자열도 시퀀스 자료형이므로 슬라이스를 사용할 수 있습니다. 특히 문자열은 문자 하나가 요소이므로 문자 단위로 잘라서 새 문자열을 만듭니다.

* `문자열[시작인덱스:끝인덱스]`
* `문자열[시작인덱스:끝인덱스:인덱스증가폭]`

In [125]:
hello = 'hello, world!'
hello[2:9]

'llo, wo'

In [126]:
hello[2:]

'llo, world!'

In [127]:
hello[:9:2]

'hlo o'

### 슬라이스에 요소 할당하기

시퀀스 객체는 슬라이스로 범위를 지정하여 여러 요소에 값을 할당할 수 있습니다.

* `시퀀스객체[시작인덱스:끝인덱스] = 시퀀스객체`

In [128]:
print(a)
a[2:5] = ['a', 'b', 'c'] #인덱스 2-4까지 값을 새로 할당(끝점 5)
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[0, 10, 'a', 'b', 'c', 50, 60, 70, 80, 90]

a[2:5] = ['a', 'b', 'c']와 같이 리스트에 범위를 지정하고 다른 리스트를 할당했습니다. 이렇게 하면 인덱스 2부터 4까지 문자 'a', 'b', 'c'가 들어갑니다. 특히 이렇게 범위를 지정해서 요소를 할당했을 경우에는 원래 있던 리스트가 변경되며 새 리스트는 생성되지 않습니다.

a[2:5] = ['a', 'b', 'c']는 슬라이스 범위와 할당할 리스트의 요소 개수를 정확히 맞추었지만, 사실 개수를 맞추지 않아도 상관없습니다.

다음과 같이 요소 개수를 맞추지 않아도 알아서 할당됩니다. 만약 할당할 요소 개수가 적으면 그만큼 리스트의 요소 개수도 줄어듭니다.

In [129]:
len(a)

10

반면 할당할 요소 개수가 많으면 그만큼 리스트의 요소 개수도 늘어납니다.

In [131]:
a = list(range(0, 100, 10))
print(a, len(a))
a[2:5] = ['a'] # 인덱스 2-4까지의 값을 리스트 a 교체
print(a, len(a))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90] 10
[0, 10, 'a', 50, 60, 70, 80, 90] 8

In [132]:
a

[0, 10, 'a', 50, 60, 70, 80, 90]

슬라이스는 인덱스 증가폭을 지정할 수 있었죠? 이번에는 인덱스 증가폭을 지정하여 인덱스를 건너뛰면서 할당해보겠습니다.

* `시퀀스객체[시작인덱스:끝인덱스:인덱스증가폭] = 시퀀스객체`

In [133]:
a = list(range(0, 100, 10))
print(a, len(a))
a[2:8:2] = ['a', 'b', 'c'] # 인덱스 2-4까지의 값을 리스트 a 교체
print(a, len(a))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90] 10
[0, 10, 'a', 30, 'b', 50, 'c', 70, 80, 90] 10

a[2:8:2] = ['a', 'b', 'c']와 같이 인덱스 2부터 2씩 증가시키면서 7까지 'a', 'b', 'c'를 할당합니다.

단, 인덱스 증가폭을 지정했을 때는 슬라이스 범위의 요소 개수와 할당할 요소 개수가 정확히 일치해야 합니다.

In [142]:
a = list(range(0, 100, 10))
a[2:3] = ['a']

튜플, range, 문자열은 슬라이스 범위를 지정하더라도 요소를 할당할 수 없습니다.

TypeError: ignored

In [134]:
r = range(10)
r[2:5] = range(0, 3)

TypeError: ignored

In [137]:
s = 'string'
s[2:3] = ['a']

TypeError: ignored

### del로 슬라이스 삭제하기

이번에는 시퀀스 객체의 슬라이스를 삭제해보겠습니다. 슬라이스 삭제는 다음과 같이 del 뒤에 삭제할 범위를 지정해주면 됩니다.

* `del 시퀀스객체[시작인덱스:끝인덱스]`

In [135]:
print(a)
del a[2:5]
a

[0, 10, 'a', 30, 'b', 50, 'c', 70, 80, 90]

[0, 10, 50, 'c', 70, 80, 90]

In [138]:
# 인덱스 증가폭을 지정하면 인덱스를 건너뛰면서 삭제하겠죠? 다음은 인덱스 2부터 2씩 증가시키면서 인덱스 6까지 삭제합니다.
a =list(range(0, 100, 10))
print(a)
del a[2:8:2]
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[0, 10, 30, 50, 70, 80, 90]

In [139]:
# 튜플, range, 문자열은 del로 슬라이스를 삭제할 수 없습니다.
print(b)
del b[2:5]

(38, 21, 53, 62, 19)

TypeError: ignored

In [140]:
print(r)
del r[2:5]

range(0, 10)

TypeError: ignored

In [141]:
print(s)
del s[2:5]

string

TypeError: ignored